# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test and coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.spec

# Django stuff
*.log
local_settings.py

# VS Code settings
.vscode/

# pipenv
Pipfile.lock

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/